# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\загрузки\эхо-сервер\lab3_prak-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
